.card,
.toggleCardHighlight {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	border-radius: 5px;
	border: 1px solid #aaa;
	padding: 10px;
	margin-bottom: 10px;
}

.toggleCardHighlight {
	background-color: yellow;
}

.card:hover {
	border-color: #aaaaaa50;
}

.card:hover .text {
	opacity: 0.8;
}

.pinButton {
	cursor: pointer;
}

.spinnerWrapper {
	display: flex;
	z-index: 999;
	justify-content: center;
	align-items: center;
}

.loader {
	border: 0.25rem solid #80aaff;
	border-top: 0.25rem solid #fafafa;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}
