.searchBoxWrapper {
    background-color: #ffffff;
}

.searchBox {
    background-color: #f5f5f5;
    display: flex;
    border-radius: 28px;
    align-items: center;
    box-shadow: 0px, 10px, 24px rgba(0, 0, 0, 0.3);
    padding: 0px 15px;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 0.9rem;
    padding: 8px;
    resize: none;
    box-sizing: border-box;
    align-content: center;
}

.searchBoxIcon {
    color: #76ABAE;
    font-size: 1.2rem;
}

.searchBoxIcon:hover {
    color: #31363F;
}

.searchBoxClear {
    color: #76ABAE;
    font-size: 1.4rem;
    cursor: pointer;
}

.searchBoxClear:hover {
    color: #31363F;
}

textarea:focus {
    outline: none;
}

.searchBoxDropdown {
    background-color: #ffffff;
    overflow: hidden;
    padding-bottom: 8px;
}

.searchBoxDropdownItem {
    display: flex;
    padding: 8px;
    border-bottom: 1px solid #f5f5f5;
    background-color: #ffffff;
    align-items: center;
}

.searchBoxDropdownIconWrapper {
    display: flex;
    align-items: center;
}

.searchBoxDropdownIcon {
    font-size: 0.65rem;
    margin-right: 4px;
}

.searchBoxDropdownItem:last-child {
    border-bottom: none;
}

.searchBoxDropdownItem:hover {
    background-color: #f5f5f5;
}

