{
	"useTabs": true,
	"tabWidth": 4,
	"printWidth": 80,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"semi": true,
	"requirePragma": true
}
