# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so


# Jupyter Notebook
.ipynb_checkpoints


# Environments
.env*
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Builds
dist/

.DS_Store

# Javascript stuff
node_modules/

# Data
*.db

