services:
  frontend:
    ports:
      - "5001:80"
    environment:
      - NODE_ENV=production

  backend:
    ports:
      - "5000:5000"
    environment:
      - DEBUG=True
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - ./backend/logs:/app/backend/logs

  experiment:
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000

networks:
  default:
    driver: bridge
