services:
  frontend:
    ports:
      - "19571:80"
    environment:
      - NODE_ENV=production

  backend:
    ports: []
    environment:
      - PORT=5000
      - DEBUG=False
      - OPENAI_API_KEY=${OPENAI_API_KEY}
    volumes:
      - /opt/thoughtful/logs:/app/backend/logs

  experiment:
    ports:
      - "19572:3000"
    environment:
      - NODE_ENV=production
      - PORT=3000

networks:
  default:
    driver: bridge
