.container {
    width: 100%;
    position: relative;
}

.toolbar {
    position: absolute;
    right: 0;
    display: flex;
}

.icon {
    cursor: pointer;
    transition: 0.15s;
    align-self: center;
    margin: 10px;
}

.icon:hover {
    color: maroon;
}

.cardContainer {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.pfpContainer {
}

.pfp {
    width: 30px;
    height: 30px;
    background: rgb(25, 195, 125);
}
