.container {
	display: flex;
	justify-content: space-between;
	font-family: 'Segoe UI', sans-serif, Arial, Helvetica;
}

.editor {
	min-width: 60rem;
	max-width: 60rem;
	width: 100%;
}

.sidebar {
	margin: 20px;
	overflow-y: scroll;
	width: 28rem;
	min-width: 28rem;
	box-shadow: -2px 0 5px rgba(0,0,0,0.1);
	font-family: 'Segoe UI', sans-serif, Arial, Helvetica;
	position: sticky;
	right: 0;
	background-color: white;
}

.sidebar::-webkit-scrollbar {
	display: none;
}