.container {
	display: flex;
	justify-content: space-between;
	font-family: 'Segoe UI', sans-serif, Arial, Helvetica;
}

.editor {
	width: 50%;
}

.sidebar {
    max-height: 92vh;
    margin: 20px;
	overflow-y: scroll;
	width: 30%;
	box-shadow: -2px 0 5px rgba(0,0,0,0.1);
	font-family: 'Segoe UI', sans-serif, Arial, Helvetica;
}
