.container {
	display: flex;
	justify-content: space-between;
	font-family: 'Segoe UI', sans-serif, Arial, Helvetica;
    gap: 10px;
}

.editor {
	width: 50%;
}

.sidebar {
    max-height: 92vh;
    margin: 20px;
	overflow-y: scroll;
	width: 30%;
	box-shadow: -2px 0 5px rgba(0,0,0,0.1);
	font-family: 'Segoe UI', sans-serif, Arial, Helvetica;
}

.cardsContainer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 30%;
}
