.nav {
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 32px;
}

.nav p {
	cursor: pointer;
	transition: 0.15s;
}

.nav p:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.active {
	text-decoration: underline;
	text-underline-offset: 5px;
}
