.nav {
	top: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 32px;
}


/* Reshaped Tabs list items styling */
.nav [role="tab"] {
	cursor: pointer;
	transition: 0.15s;
	padding: 4px 8px;
}

.nav [role="tab"]:hover {
	text-decoration: underline;
	text-underline-offset: 5px;
}

.nav [data-active="true"] {
	text-decoration: underline;
	text-underline-offset: 5px;
}