.container {
	padding: 8px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.optionsContainer {
	display: flex;
	flex-direction: row;
	gap: 8px;
	justify-content: center;
	margin-top: 20px;
}

.optionsButton {
	border-radius: 24px;
	background-color: #ffffff;
	font-size: medium;
	padding: 8px 16px;
	border: 1px solid #f0f0f0;
	transition: 0.15s;
	cursor: pointer;
}

.optionsButtonActive {
	background-color: #d2e0fb;
	font-size: medium;
	padding: 8px 16px;
	border: 1px solid #d2e0fb;
	transition: 0.15s;
	cursor: pointer;
	border-radius: 24px;
}

.optionsButton:hover {
	background-color: #f0f0f0;
}

.optionsButtonActive:hover {
	background-color: #f0f0f0;
	border: 1px solid #f0f0f0;
}

.resultTextWrapper {
	margin-top: 20px;
	margin-right: 16px;
	margin-left: 16px;
}

.resultText {
	font-size: 1.0rem;
}
