:root {
	--maroon: #891b2f;
	--gold: #eecc0a;
	--black: #231f20;
	--white: #f1f1f1f1;
	--light-gray: #f8f8f8;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-color: var(--light-gray);
}

header {
	background-size: cover;
	color: var(--black);
	text-align: center;
	padding: 50px 0;
	background-color: #eecc0a;
}

header h1 {
	font-size: 2.5em;
	margin-bottom: 10px;
}

header p {
	font-size: 1.5em;
	margin-bottom: 30px;
}

body .page-footer {
	background-color: var(--maroon);
	color: var(--white);
	padding: 50px 0;
}

.header-content {
	display: flex;
	justify-content: center;
}

.header {
	font-size: 3em;
	font-weight: bold;
}

.flow-text {
	font-size: 1.2em;
}

.header-image {
	max-width: 50%;
}

.btn-large {
	font-size: 1.2em;
	padding: 20px 30px;
	margin: 10px;
}

.brand-logo > span,
.brand-logo > img {
	vertical-align: middle;
	color: var(--gold);
}

.brand-logo {
	font-size: 1.5em;
	font-weight: bold;
	margin-left: 10px;
}

.nav-wrapper {
	background-color: var(--maroon);
}

.waves-effect.waves-light.btn-large.maroon {
	background-color: var(--maroon);
	color: var(--white);
}
