.cardContainer, .cardContainerHover {
    border: 1px solid grey;
    cursor: pointer;
    transition: 0.15s;
    padding: 10px;
    border-bottom: none;
    display: flex;
    flex-direction: row;
}

.cardContainerHover {
    background-color: yellow;
}

.cardContainer:last-child, .cardContainerHover:last-child {
    /* TODO: this is displaying even when there are no components */
    border-bottom: 1px solid grey; 
}

.cardContainer:hover {
    opacity: 0.8;
}

.card-content {
    width: 90%;
}

.prompt-container {
    border: 1px solid grey;
    overflow-y: scroll;
    flex: 1 1 0;
}

.cardsContainer {
    flex: 1 1 0;
    overflow-y: scroll;
    border: 1px solid black;
}